<h3>Novo Projeto</h3>
<div style="width: 400px;">
  <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inNome">Nome</label>
      <input type="text" class="form-control" id="inNome" name="inNome" formControlname="nome">
    </div>

    <div class="form-group">
      <label for="inOrientadores">Orientadores</label>
      <input type="text" class="form-control" id="inOrientadores" name="inOrientadores" formControlname="orientadores">
    </div>

    <div class="form-group">
        <label for="inSala">Sala</label>
        <input type="text" class="form-control" id="inSala" name="inSala" formControlname="sala">
    </div>

    <div class="form-group">
        <label for="inTurma">Turma</label>
        <input type="text" class="form-control" id="inTurma" name="inTurma" formControlname="turma">
    </div>
      
    <button type="submit" class="btn btn-success">Salvar</button>

  </form>
</div>

